<form action="/stores/add" method="POST">
    <div>
      <label for="sid">Store ID:</label>
      <input type="text" name="sid" required>
    </div>
    <div>
      <label for="location">Store Location:</label>
      <input type="text" name="location" required>
    </div>
    <div>
      <label for="mgrid">Manager ID:</label>
      <input type="text" name="mgrid" required>
    </div>
      <button type="submit" value="Add">Add Store</button>
  </form>
  