<h1>Main Page</h1>
<p1>Click on the links below to navigate to the different pages</p1>
<br>
<br>
<!-- create a link to the stores page-->
<a href="/stores">Stores</a>
<br>
<!-- create a link to the products page-->
<a href="/products">Products</a>
<br>
<!-- create a link to the managers page -->
<a href="/managers">Managers</a>