

<table>
    <!-- add a store button -->
    <a href="/stores/add">Add a Store</a>
    <tbody>
        <tr>
            <th>SID     </th>
            <th>Location    </th>
            <th>Manager ID  </th>
        </tr>
        <% stores.forEach((store) => { %>
            <tr>
                <td><%= store.sid %>    </td>
                <td><%= store.location  %></td>
                <td><%= store.mgrid     %></td>
                <!-- edit store button -->
                <td><a href="/stores/edit/<%= store.sid %>">Edit</a></td>
            </tr>
        <% }) %>
    </tbody>
</table>
